<div class="container-fluid" style="border-top:1px solid gray;">
  <div class=container>
    <div class="row">
      <div class="col-8">
        <div class="col-12" style="height: 100vh; border-right:1px solid gray">
          <div class="row">
            <div class="col-12">
              <% @applications.each do |app|%>
                <div class = "card-dashboard mt-3 p-3">
                  <% @appdoc = ApplicationsDocument.new %>
                  <%if current_user.id == app.user.id%>
                    <div class="ml-2 mt-2">
                      <h2><%= app.universities_program.program.name %></h2>
                      <h2 style="font-size:20px;"><%= app.university.name %></h2>
                      <h5 class=deadline>Deadline: <%= app.universities_program.start_time.strftime("%A, %d %B %Y") %></h5>
                      <% uploaded_documents = [] %>
                      <% app.documents.each do |doc| %>
                        <% uploaded_documents << doc.name %>
                      <%end%>
                    </div>
                    <h3 class=ml-2>Required Documents:</h3>
                    <div class="required-docs-container ml-2 mb-2">
                      <div class="ml-2 d-flex align-items-center p-2">
                        <% app.universities_program.documents.each do |doc| %>
                          <% if uploaded_documents.include? doc.name %>
                            <div class=mx-3 style="color:green;">
                              <%= doc.name %>
                            </div>
                          <% else %>
                            <div class=mx-3 style="color:#CC0000">
                              <%=doc.name%>
                            </div>
                          <%end%>
                        <%end%>
                      </div>
                    </div>
                    <div class="progress-container ml-2 mb-2">
                      <% docs_count = uploaded_documents.count %>
                      <% docs_required = app.universities_program.documents.count %>
                      <% ratio_docs_uploaded = 100 * (docs_count.to_f / docs_required.to_f) %>
                      <%if ratio_docs_uploaded <= 33%>
                        <div class="progress mt-2 ml-0 mr-0"  style="height:25px;">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: <%=ratio_docs_uploaded%>%" aria-valuenow="0" aria-valuemin='0' aria-valuemax="100"></div>
                        </div>
                      <%elsif ratio_docs_uploaded <= 99 %>
                        <div class="progress mt-2 ml-0 mr-0"  style="height:25px;">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: <%=ratio_docs_uploaded%>%" aria-valuenow="0" aria-valuemin='0' aria-valuemax="100"></div>
                        </div>
                      <% else %>
                        <div class="progress mt-2 ml-0 mr-0" style="height:25px;">
                          <div class="progress-bar bg-success" role="progressbar" style="width: <%=ratio_docs_uploaded%>%" aria-valuenow="0" aria-valuemin='0' aria-valuemax="100"></div>
                        </div>
                      <% end %>
                    </div>
                    <div class=delete>
                      <%= link_to "/applications/#{app.id}", method: :delete, data: { confirm: "Are you sure? "} do %> <i class="fa fa-trash" aria-hidden="true"></i><% end %>
                    </div>
                    <div class="document-form ml-2">
                      <%= simple_form_for([app, @appdoc]) do |f| %>
                        <h5>Attach a required document</h5>
                        <%= f.association :document, label: false , class: "btn secondary-btn" %>
                        <%= f.input :document, as: :file, label: false %>
                        <%= f.button :submit, "Add document", class: "btn transparent-btn" %>
                        <!-- <a href="#" onclick="myFunction(); return false;"><i class="fa fa-calendar" aria-hidden="true"></i></a> -->
                      <% end %>
                    </div>
                    <% if app.universities_program.documents - app.documents == []%>
                      <div class=mark-complete>
                        <h3>bla</h3>
                      </div>
                    <% end %>
                  <%end%>
                </div>             
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4" style="height: 100vh; background-color: white;">
        <div class="calendar-wrapper p-3" >
          <div class= close>
          <!-- <a href="#" onclick="myOtherFunction(); return false;"><i class="fa fa-times" style="color:black" aria-hidden="true"></i></a> -->
          </div>
          <div id=calendar>
            <h2>Your calendar:</h2> <%= DateTime.now.strftime('%d %A') %>
            <%= month_calendar events: @universities_programs do |date, universities_programs| %>
              <%= date.day %>
              <% universities_programs.each do |program|%>
                <% if @universities_programs_done.include? program %>
                  <div class=mt-1 style="border: 2px solid green; color:black">
                    <%=program.university.name%>
                    <%=program.program.name%>
                  </div>
                <% else %>
                  <div class=mt-1 style="border: 2px solid red; color:black">
                    <%=program.university.name%>
                    <%=program.program.name%>
                  </div>
                <%end%>
              <%end%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    // document.querySelector(".calendar-wrapper").style.display='none';
  });

  function myFunction() {
    var x = document.querySelector(".calendar-wrapper");
    x.style.display = "block";
  }

  function myOtherFunction() {
    var x = document.querySelector(".calendar-wrapper");
    x.style.display = "none";
  }

  var today = document.querySelector(".today")
  today.classList.add("round")

</script>

