<!DOCTYPE html>
<html lang="en">
<head>
  <title>UniFind | Organize & track all your university applications at once</title>
  <meta name="description" content="UniFind manages and tracks all your university applications. Save time and never feel stressed about organizing your university applications again.">
  <meta charset="utf-8">
  <script src="https://kit.fontawesome.com/9bc9c7a1c8.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="container fill bg">
      <div class="row">
        <div class="col-md-8 offset-md-1">
          <br>
          <br>
          <% if user_signed_in? %>
            <h1 class="mt-0">Hi <%=current_user.first_name.capitalize%>, start organizing your university applications</h1>
          <% else %>
            <h1 class="mt-0">Start organizing your university applications</h1>
          <% end %>
          <p>Tired of spending hours on finding universities and manually gathering all the important information you have to keep in mind in order to apply?</p>
          <p>Start using <strong>UNIFind today!</strong></p>
          <br>
          <div class="my-container pb-5">
            <div class="box query-input">
              <div class="home-search pb-5">
                <%= form_tag universities_programs_path, method: :get do %>
                <div class="row">
                  <div class="top-search d-flex justify-content-between align-self-stretch">
                    <%= text_field_tag :query,
                    params[:query], :class => "home-search-input col-md-8", placeholder: "Program Name, University Name, Discipline ...", autocomplete: 'off'%>
                    <%= submit_tag "Search", class: "btn primary-btn " %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

            <div id="hidden-search">
              <i class="far fa-times-square" id="close"></i>
              <div class="cities box">
                <p class= 'search-header'>Want to look thorugh the most searched cities?</p>
                <div class="my-row">
                  <div class="cities small-btn d-flex justify-content-around">
                    <%= button_to 'Berlin', universities_programs_path, method: :get, params: {query: 'Berlin'}, class: "btn btn-light" %>
                    <%= button_to 'Cologne', universities_programs_path, method: :get, params: {query: 'Cologne'}, class: "btn btn-light" %>
                    <%= button_to 'Karlsruhe', universities_programs_path, method: :get, params: {query: 'Karlsruhe'}, class: "btn btn-light" %>
                    <%= button_to 'Munich', universities_programs_path, method: :get, params: {query: 'Munich'}, class: "btn btn-light" %>
                  </div>
                </div>
              </div>

              <div class="degrees box">
                <p class= 'search-header'>Or directly look for a degree?</p>
                <div class="my-row">
                  <div class="small-btn d-flex justify-content-around">
                    <%= button_to "Bachelor of Science", universities_programs_path, method: :get, params: {query: 'Bachelor of Science'}, class: "btn btn-light" %>
                    <%= button_to "Bachelor of Arts", universities_programs_path, method: :get, params: {query: 'Bachelor of Arts'}, class: "btn btn-light" %>
                    <%= button_to "Master", universities_programs_path, method: :get, params: {query: 'Master'}, class: "btn btn-light" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <div class="row mt-4 mb-4 transition1">
            <div class="col-md-8 mt-2">

              <h6 class=>Most searched programs:</h6>
              <a href= "/universities_programs?query=medicine" class="tag-label">Medicine</a>
              <a href= "/universities_programs?query=engineering" class="tag-label">Engineering</a>
              <a href= "/universities_programs?query=archeology" class="tag-label">Archeology</a>
              <a href= "/universities_programs?query=product+design" class="tag-label">Product Design</a>
              <a href= "/universities_programs?query=literature" class="tag-label">Literature</a>
              <a href= "/universities_programs?query=preschool+teaching" class="tag-label">Preschool Teaching</a>

            </div>

          </div>
        </div>
      </div>
    </div>

<div class="container mt-5 transition2">
  <div class="row justify-content-md-center">
    <h3 class="col-md-auto">GETTING STARTED</h3>
  </div>
  <div class="row justify-content-md-center">
    <h2 class="col-md-auto">Apply successfully to universities by reducing your own workload</h2>
  </div>
  <div class="row justify-content-md-center">
    <p class="col-md-auto">Finding the right university and tracking your applications is very time-consuming and confusing. UNIFind makes sure you never have to search for entrance requirements and deadlines again. Start your application for your favorite university today!</p>
  </div>

  <div class="row justify-content-between">
    <div class="col-3">
      <div class="explore"></div>
      <h3 class="text-center">EXPLORE & FILTER</h3>
      <p class="text-center">Find the right university for your studies from UNIFind's database</p>
    </div>
    <div class="col-3">
      <div class="learn"></div>
      <h3 class="text-center">INFORM</h3>
      <p class="text-center">Learn about application requirements and deadlines</p>
    </div>
    <div class="col-3">
      <div class="follow"></div>
      <h3 class="text-center">MANAGE</h3>
      <p class="text-center">Upload documents. Track the progress of your applications </p>
    </div>
    <div class="col-3">
      <div class="prepare"></div>
      <h3 class="text-center">APPLY SUCCESSFULLY</h3>
      <p class="text-center">Get notifications regularly on deadlines and submit applications</p>
    </div>
  </div>

  <div class="container mt-4" id="icons" style="margin-bottom: 120px;">
    <div class="row justify-content-md-center">
      <h2 class="col-md-auto mt-4">List by discipline</h2>
    </div>
    <div class="row mt-4">
      <div class="col disc-icon coding d-flex flex-column">
      <h3>Computer Sciences</h3>
      <a href="/universities_programs?query=computer+sciences">
        <img src="/assets/icons8-developer-100(1).png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon archeology d-flex flex-column">
      <h3>Archeology</h3>
      <a href="/universities_programs?query=archeology">
        <img src="/assets/icons8-archeology-100(1).png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon engineering d-flex flex-column">
      <h3>Engineering</h3>
      <a href="/universities_programs?query=engineering">
        <img src="/assets/icons8-engineering-100(1).png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon architecture d-flex flex-column">
      <h3>Architecture</h3>
      <a href="/universities_programs?query=architecture">
        <img src="/assets/icons8-skyscrapers-100.png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon biology d-flex flex-column">
      <h3>Biology</h3>
      <a href="/universities_programs?query=biology">
        <img src="/assets/icons8-biotech-100.png" alt="Computer Scieasdnces">
      </a>
      </div>
      <div class="col disc-icon maths d-flex flex-column">
      <h3>Mathematics</h3>
      <a href="/universities_programs?query=maths">
        <img src="/assets/icons8-trigonometry-100.png" alt="Computer Scieasdnces">
      </a>
      </div>
    </div>
    <div class="row mb-4">

      <div class="col disc-icon economics d-flex flex-column">
      <h3>Economics</h3>
      <a href="/universities_programs?query=economics">
        <img src="/assets/icons8-stocks-100.png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon agriculture d-flex flex-column">
      <h3>Agriculture</h3>
      <a href="/universities_programs?query=agriculture">
        <img src="/assets/icons8-tractor-100.png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon physics d-flex flex-column">
      <h3>Physics</h3>
      <a href="/universities_programs?query=physics">
        <img src="/assets/icons8-physics-100.png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon chemistry d-flex flex-column">
      <h3>Chemistry</h3>
      <a href="/universities_programs?query=chemistry">
        <img src="/assets/icons8-test-tube-100.png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon law d-flex flex-column">
      <h3>Law</h3>
      <a href="/universities_programs?query=law">
        <img src="/assets/icons8-law-100(1).png" alt="Computer Scieasdnces">
      </a>
      </div>

      <div class="col disc-icon medicine d-flex flex-column">
      <h3>Medicine</h3>
      <a href="/universities_programs?query=medicine">
        <img src="/assets/icons8-syringe-100.png" alt="Computer Scieasdnces">
      </a>
      </div>
    </div>
  </div>
</div>
<body>
</html>
