           
<span style="font-size:25px;"><%= DateTime.now.strftime('%A, %d %B %Y') %> </span>
<%= month_calendar events: @universities_programs, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link, remote: true do |date, universities_programs| %>
  <%= date.day %>
  <% universities_programs.each do |program|%>
    <% if @universities_programs_done.include? program %>
      <div class="program-done mt-2">
        <h5><%=program.program.name%></h5>
        <h5><%=program.university.name%></h5>
      </div>
    <% else %>
      <div class="program-todo mt-2">
        <h5><%=program.program.name%></h5>
        <h5><%=program.university.name%></h5>
      </div>
    <%end%>
  <%end%>
<%end%>