<div class="container" style="min-height:100vh;">
  <div class="row">
    <div class="col-3 left-frame">
      <div class="w-100">
        <h5>Search</h5>
        <%= form_tag universities_programs_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query], :class => "home-search-input w-100 mb-2", placeholder: "Program Name"%>
        <%= submit_tag "Search", class: "btn btn-block primary-btn " %>
        <% end %>
      </div>
    </div>

    <div class="col-9 pl-3 mb-5 pr-0 ">
      <div class="col-12" style="background-color: #F3F4FF; border-radius: 6px; padding-bottom: 32px;">
        <div class="row mx-2">
          <h5 class=mt-2><%=UniversitiesProgram.where(program_id: 1).count%> results found</h5>
        </div>
        <div class="row mx-2 mb-0">



        </div>
        <div class="row pl-3 pr-3 pt-0">
          <% @universities_programs.each do |program|%>
          <div class="card-product mt-3 col-12 pl-0 d-flex justify-content-between text-center transition1" style="border-radius: 4px;" >
            <%= image_tag(program.picture, class: "col-3 pl-0") %>
            <div class="col-7 text-left" style="line-height: 150%">
              <h2><%= program.program.name%></h2>
              <h3 style="display:inline"><%= program.university.name %></h3>
              <p style="display:inline"><%=program.university.city%></p>
              <h3><%=program.degree%></h3>
            </div>
            <%= link_to "universities_programs/#{program.id}" do %>
            <label style="cursor: pointer;" class="secondary-btn">See details</label>
            <%end%>
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>

