<h3 style="display: inline"><%=@universities_program.university.name%></h3>
<p style="display: inline"><%=@universities_program.university.city%></p>
<br>
<br>
<h4><%=@universities_program.program.name%></h4>
<br>
<h4><%=@universities_program.degree%></h4>
<h3><%=@universities_program.semesters%></h3>