<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>


  <div class="container" id="showpage">
    <div class="row" id="show-row">
      <div class="col-4" id="application-info">

       <div class="card-application">
        <br>
        <h2 style="display: inline"><%= @universities_program.university.name %></h2>
        <br>
        <br>
        <h4><%=@universities_program.program.name%></h4>
        <br>
        <br>
        <br>
        <br>
        <h5> 📍 <%=@universities_program.university.city%></h5>
        <h5> ⏰ <%= @universities_program.semesters %> Semesters</h5>
        <h5> 🎓 <%= @universities_program.degree %></h5>
        <br>
        <br>
        <br>
        <% if @universities_program.applications.where(user_id: current_user.id) == []%>
        <%= form_tag applications_path, method: :post do %>
        <%= hidden_field_tag "application[universities_program_id]", @universities_program.id %>
        <%= submit_tag "Add to dashboard", class: "btn btn-primary" %>
        <% end %>
        <% else %>
        <%= link_to "/applications" do %> <button class="btn btn-primary">Go to application</button> <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-8" id="carousel">
      <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3000">
            <%= image_tag(@universities_program.university.photo_urls[0]) %>
          </div>
          <div class="carousel-item" data-interval="3000">
           <%= image_tag(@universities_program.university.photo_urls[1]) %>
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

</div>
<div class="row" id="show-row">
  <div class="col-12" id="uniinfo">
    <h3 style="font-size: 22px;">Learn more about the faculty</h3>
    <p style="font-size: 14px;"><%= @universities_program.university_info %></p>
    <a href= "<%= @universities_program.webpage_url %>" target="_blank"><label class="secondary-btn">Official Page</label></a>
    <br>
    <br>
    <h3 style="font-size: 22px;" >What it's like to study architecture at our university</h3>
    <p style="font-size: 14px;"> <%=  @universities_program.application_info %> </p>
    <a style="margin-bottom: 40px;" href="<%= @universities_program.application_url %>" target="_blank"><label class="secondary-btn">Application Site</label></a>
  </div>
</div>
<a href="/universities_programs">← Back to all Programs</a>
</div>

</body>
</html>


